stream_over_http_enabled: true
server:
  http_listen_port: 3200

distributor:
  receivers:
    zipkin:
    otlp:
      protocols:
        http:
        grpc:

ingester:
  max_block_duration: 5m

compactor:
  compaction:
    compaction_interval: 10m
    max_compaction_objects: 1000000
    block_retention: 1h

storage:
  trace:
    backend: local
    local:
      path: /tmp/tempo/traces
    wal:
      path: /tmp/tempo/wal
